// COLORS

// Background color - day
$color-blue: #9FA0C3;
$color-blue-light: #D3D3EC;
$color-blue-dark: #3A3B47;

// Background color - night
$color-red: #7B435B;
$color-red-light: #C3A9B4;
$color-red-dark: #2D1922;

$color-black: #000A17;

$color-white: #EEE6E6;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;