// COLORS

// Background color - day
$color-blue: #9FA0C3;
$color-blue-light: #D3D3EC;
$color-blue-dark: #3A3B47;

// Background color - night
$color-red: #7B435B;
$color-red-light: #C3A9B4;
$color-red-dark: #2D1922;